<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>
  
  <ng-container matColumnDef="dropdown">
    <th mat-header-cell *matHeaderCellDef>Dropdown</th>
    <td mat-cell *matCellDef="let row">
      <mat-form-field appearance="fill">
        <mat-label>Options</mat-label>
        <mat-select [(ngModel)]="row.selectedOption">
          <mat-option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>
  
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
